name: Java CI with Maven

on:
  push:
    branches: [ "main" ] # Roda apenas em push na main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Construir com Maven
        run: mvn clean package -DskipTests